# hugo
HUGO_VERSION=0.93.0

# netlify/functions

## gsheet
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
GOOGLE_SPREADSHEET_ID_FROM_URL=

## deploy
DEPLOY_URL=
DEPLOY_SECRET=

# cloudflare
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN_IMAGE=
