{{ $file := .Get "file" }}
{{/* search local filesystem  */}}
{{- if fileExists $file }}
  {{- if eq ($.Get "markdown") "true" -}}
    {{- $file | readFile | markdownify -}}
  {{- else if ($.Get "highlight") -}}
    {{- highlight ( $file | readFile ) (.Get "highlight") "" -}}
  {{- else -}}
    {{- $file | readFile | safeHTML -}}
  {{- end -}}
{{/*  not local but virtual filesystem  */}}
{{- else -}}
  {{- $res := index (resources.Match $file) 0 -}}
  {{ highlight $res.Content (.Get "highlight") "" -}}
{{ end }}